.sidebar{
    width:18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top:0;
    font-size:max(1vw, 10px);
}
.sidebar-options{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20%;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0 0 3px;
}
.sidebar-option:hover{
    background-color: #fff0ed;
    border-color: tomato;
}
@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}