.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in-out;
}
.header-contents h2{
    font-size: max(4.5vw,22px);
    color: white;
    font-weight: 500;
}
.header-contents p{
    font-size: 1.3vw;
    color: white;
}
.header-contents button{
    color: #747474;
    border: none;
    padding: 1vw 2.3vw;
    font-weight: 500;
    background-color: white;
    font-size: max(1.5vw,12px);
    border-radius: 50px;
    cursor: pointer;
}
@media (max-width:1050px) {
  
    .header-contents{
        padding: 10px;
        max-width: 45%;
    }   
}
@media (max-width:750px) {
    
    .header-contents{
        max-width: 65%;
    } 
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}